<br><br>
<div class="container margin_60_35">
    <div class="bg_white" style="margin-bottom: 20px;">
    <div class="container custom-container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="main_title_left">
                <em></em>
                {{ 'CONTACT.TITLE' | translate }}
                </h3>
                <p class="lead justify-text">
                    Av. Coyoacán #1035 Int. 4, Colonia Del Valle Centro, Alcaldía Benito Juárez, CP. 03100 CDMX México.
                </p>
                <ul class="list_ok">
                    <li>
                        <h4>{{ 'CONTACT.TEL' | translate }}</h4>
                        <p class="justify-text">{{ 'CONTACT.TELNO' | translate }}</p>
                    </li>
                    <li>
                        <h4>{{ 'CONTACT.WHATS' | translate }}</h4>
                        <p class="justify-text">{{ 'CONTACT.WHATSNO' | translate }}</p>
                    </li>
                    <li>
                        <h4>{{ 'CONTACT.COMER' | translate }}</h4>
                        <p class="justify-text">{{ 'CONTACT.MAILCOMER' | translate }}</p>
                    </li>
                    <li>
                        <h4>{{ 'CONTACT.RH' | translate }}</h4>
                        <p class="justify-text">{{ 'CONTACT.MAILRH' | translate }}</p>
                    </li>
                    <li>
                        <h4>{{ 'CONTACT.INFO' | translate }}</h4>
                        <p class="justify-text">{{ 'CONTACT.MAILINFO' | translate }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
  