.header_flags{
    text-align: right;
    float: right;
    margin-right: 10px;
}
#flagEn {
    margin-left: 10px;
}
.navbar_style{
    background-color: #0F1A47;
}
#navbarNavDropdown{
    font-size: 20px;
}
.nav-item{
    margin-left: 50px;
}
.dropdown-menu{
    background-color:#1d3f5e ;
    
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.dropdown-item{
    color: rgb(195, 195, 195);
}
.dropdown-item:hover{
    background-color: #0F1A47;
    color: white;
}