<div class="bg_white" style="margin-bottom: 20px;">
    <div class="container custom-container">
        <div class="row">
            <h3 class="main_title_left" style="margin: 0px;">
                <em></em>
                {{ 'ABOUT.STORIES.1.TITLE' | translate }}
            </h3>
            <div class="cards col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="assets/img/stories/img_2.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.1.TEXT_1' | translate }}</p>
                    </div>
                </div>
            </div>
        
            <div class="cards col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="assets/img/stories/img_3.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.1.TEXT_2' | translate }}</p>
                    </div>
                </div>
            </div>
        
            <div class="cards col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="assets/img/stories/img_1.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.1.TEXT_3' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <h3 class="main_title_left" style="margin: 0px;">
                <em></em>
                {{ 'ABOUT.STORIES.2.TITLE' | translate }}
            </h3>
            <div class="cards col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="assets/img/stories/infra-1.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'ABOUT.STORIES.2.SUBTITLE_1' | translate}}</h5>
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.2.SUB1_TEXT1' | translate }}</p>
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.2.SUB1_TEXT2' | translate }}</p>
                    </div>
                </div>
            </div>
        
            <div class="cards col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="assets/img/stories/infra-2.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'ABOUT.STORIES.2.SUBTITLE_2' | translate}}</h5>
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.2.SUB1_TEXT1' | translate }}</p>
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.2.SUB1_TEXT2' | translate }}</p>
                    </div>
                </div>
            </div>
        
            <div class="cards col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="assets/img/stories/infra-3.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'ABOUT.STORIES.2.SUBTITLE_3' | translate}}</h5>
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.2.SUB1_TEXT1' | translate }}</p>
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.2.SUB3_TEXT1' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="cards col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="assets/img/stories/infra-4.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'ABOUT.STORIES.2.SUBTITLE_4' | translate}}</h5>
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.2.SUB4_TEXT1' | translate }}</p>
                    </div>
                </div>
            </div>
        
            <div class="cards col-md-6 col-lg-4">
                <div class="card my-3">
                    <img src="assets/img/stories/infra-5.jpg" class="card-image-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'ABOUT.STORIES.2.SUBTITLE_5' | translate}}</h5>
                        <p class="card-text justify-text">{{ 'ABOUT.STORIES.2.SUB5_TEXT1' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>