img {
    height: 250px;
}

.div_h100 {
    height: 100%;
}

.card-title a:link {
    font-size: 30px;
    background-color: transparent;
    color: #000000;
    text-decoration: none;
}

.card-title a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

@media only screen and (max-width: 991px) {
    .cards {
        padding-block: 15px;
     }
}