<div class="row">
    <h3 class="main_title_left">
        <em></em>
    </h3>
    <p class="justify-text">{{ 'ABOUT.AWARDS_TEXT' | translate }}</p>
</div>
<div class="row d-flex flex-wrap align-items-center" data-toggle="modal" data-target="#lightbox">
    <div class="col-md-4 award-item">
        <img src="assets/img/awards/award_1.jpeg" />
    </div>
    <div class="col-md-4 award-item">
        <img src="assets/img/awards/award_2.jpg" />
    </div>
    <div class="col-md-4 award-item">
        <img src="assets/img/awards/award_3.jpg" />
    </div>
</div>
<div class="row d-flex flex-wrap align-items-center" data-toggle="modal" data-target="#lightbox">
    <div class="col-md-4 award-item">
        <img src="assets/img/awards/award_4.jpg" />
    </div>
    <div class="col-md-4 award-item">
        <img src="assets/img/awards/award_5.jpg" style="width: 70%; height: 100%"/>
    </div>
    <div class="col-md-4 award-item">
        <img src="assets/img/awards/award_6.jpg" style="width: 70%; height: 100%"/>
    </div>
</div>