<main style="margin-top: 90px;">
  <div class="container margin_60_35">
    <div class="bg_white" style="margin-bottom: 20px;">
      <div class="container custom-container">
        <div class="row">
          <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
            <img
              src="assets/img/jerarquia.jpg"
              alt=""
              class="img-responsive"
              style="max-width: 100% !important;"
            />
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
              <h3 class="main_title_left">
              <em></em>
              {{ 'HEADER.SERVICES.CONTENT.2' | translate }}
              </h3>
              <ul class="list_ok">
                  <li>
                      <h4>{{ 'SERVICES.PLANNING.TITLE' | translate }}</h4>
                      <p>
                          <strong>- {{ 'SERVICES.PLANNING.1' | translate }} </strong>
                          <br />
                          <strong>- {{ 'SERVICES.PLANNING.2' | translate }} </strong>
                          <br />
                          <strong>- {{ 'SERVICES.PLANNING.3' | translate }} </strong>
                          <br />
                          <strong>- {{ 'SERVICES.PLANNING.4' | translate }} </strong>
                          <br />
                          <strong>- {{ 'SERVICES.PLANNING.5' | translate }} </strong>
                          <br />
                          <strong>- {{ 'SERVICES.PLANNING.6' | translate }} </strong>
                          <br />
                      </p>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>