<div id="hero_home">
    <div class="wrapper">
        <div class="container">
            <div class="intro_title_header">
                <h3>WFI de México</h3>
                <p> CREANDO LA SIGUIENTE GENERACIÓN DE REDES.</p>
                <h3 id="js-rotating">CONSULTORÍA, OPERACIÓN, MANTENIMIENTO, DISEÑO, PLANEACIÓN, GESTORÍA, IMPLEMENTACIÓN </h3>
            </div>
        </div>
    </div>
</div>

<div class="container margin_60_35">
    <div class="bg_white" style="margin-bottom:20px ;">
        <div class="container margin_60_0">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="main_title_left"><em></em>Nosotros</h3>
                    <p class="lead">WFI provee servicios de Gestión de Proyectos, Ingeniería, Consultoría, Diseño, Logística, Instalación, Optimización, Capacitación y Mantenimiento De Redes De Telecomunicaciones e IP, Data Centers, Salas de Telecom, Cableado y Canalización Estructurada, Construcción, Soporte Técnico De Infraestructura y Electrónicos, así como, Sistemas De Seguridad y CCTV.</p>
                    <ul class="list_ok">
                        <li>
                            <h4>Misión</h4>
                            <p>Mejorar la rentabilidad de la organización enfocando nuestro talento y experiencia, para proporcionar servicios de excelencia a nuestros clientes.</p>
                        </li>
                        <li>
                            <h4>Visión</h4>
                            <p>Evolucionar con la tecnología para proporcionar servicios modernos y de alto valor.</p>
                        </li>
                        <li>
                            <h4>Valores</h4>
                            <p>
                                -Actitud de servicio<br>
                                -Compromiso y Responsabilidad<br>
                                -Honestidad<br>
                                -Dignidad<br>
                                -Responsabilidad<br>
                                -Seguridad<br>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
                    <img src="assets/img/pexels-caleb-oquendo-7388500.jpg" alt="" class="img-responsive">
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </div><!--/bg_white-->
</div>
<!-- <div id="featured">
    <div id="nivo-slider">
        <div class="nivo-slider">
            <img src="../../../../assets/img/slides/bg-1.jpg" alt="" title="#caption-1" />
            <img src="../../../../assets/img/slides/bg-2.jpg" alt="" title="#caption-2" />
            <img src="../../../../assets/img/slides/bg-3.jpg" alt="" title="#caption-3" />
        </div>
        <div id="">
            <div class="wrapper">
                <div class="container">
                    <div class="intro_title_header">
                        <h3>WFI de México</h3>
                        <p> CREANDO LA SIGUIENTE GENERACIÓN DE REDES.</p>
                        <h3 id="js-rotating">CONSULTORÍA, OPERACIÓN, MANTENIMIENTO, DISEÑO, PLANEACIÓN, GESTORÍA, IMPLEMENTACIÓN </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!-- <section id="featured">
    <div id="nivo-slider">
        <div class="nivo-slider">
            <img id="img-bg-1" title="#caption-1" />
            <img id="img-bg-2" title="#caption-2" />
            <img id="img-bg-3" title="#caption-3" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                </div>
            </div>
        </div>
    </div>
</section> -->
