<main>
  <!-- carousel start -->
  <div id="main-carousel" class="carousel slide" data-bs-ride="true" style="background: rgba(0, 0, 0, 0.6); padding-top: 90px;">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2"></button>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/slides/bg-1.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/slides/bg-2.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/slides/bg-3.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <div class="intro_title_header">
      <h3>WFI de México</h3>
      <p>CREANDO LA SIGUIENTE GENERACIÓN DE REDES.</p>
      <h3 id="js-rotating">
        CONSULTORÍA, OPERACIÓN, MANTENIMIENTO, DISEÑO, PLANEACIÓN, GESTORÍA,
        IMPLEMENTACIÓN
      </h3>
    </div>
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
  <!-- carousel end -->

  <div class="container margin_60_35">
    <div class="bg_white" style="margin-bottom: 20px;">
      <div class="container margin_60_0">
        <div class="row">
          <div class="col-md-5">
            <h3 class="main_title_left">
              <em></em>
              Nosotros
            </h3>
            <p class="lead">
              WFI provee servicios de Gestión de Proyectos, Ingeniería,
              Consultoría, Diseño, Logística, Instalación, Optimización,
              Capacitación y Mantenimiento De Redes De Telecomunicaciones e IP,
              Data Centers, Salas de Telecom, Cableado y Canalización
              Estructurada, Construcción, Soporte Técnico De Infraestructura y
              Electrónicos, así como, Sistemas De Seguridad y CCTV.
            </p>
            <ul class="list_ok">
              <li>
                <h4>Misión</h4>
                <p>
                  Mejorar la rentabilidad de la organización enfocando nuestro
                  talento y experiencia, para proporcionar servicios de
                  excelencia a nuestros clientes.
                </p>
              </li>
              <li>
                <h4>Visión</h4>
                <p>
                  Evolucionar con la tecnología para proporcionar servicios
                  modernos y de alto valor.
                </p>
              </li>
              <li>
                <h4>Valores</h4>
                <p>
                  - Actitud de servicio
                  <br />
                  - Compromiso y Responsabilidad
                  <br />
                  - Honestidad
                  <br />
                  - Dignidad
                  <br />
                  - Responsabilidad
                  <br />
                  - Seguridad
                  <br />
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
            <img
              src="assets/img/pexels-caleb-oquendo-7388500.jpg"
              alt=""
              class="img-responsive"
              style="max-width: 100% !important;"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
