<main>
  <!-- carousel start -->
  <div id="main-carousel" class="carousel slide" data-bs-ride="true" style="background: rgba(0, 0, 0, 0.6); padding-top: 90px;">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2"></button>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/slides/bg-1.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/slides/bg-2.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/slides/bg-3.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <div class="intro_title_header">
      <h3>WFI de México</h3>
      <p>CREANDO LA SIGUIENTE GENERACIÓN DE REDES.</p>
      <h3 id="js-rotating">
        CONSULTORÍA, OPERACIÓN, MANTENIMIENTO, DISEÑO, PLANEACIÓN, GESTORÍA,
        IMPLEMENTACIÓN
      </h3>
    </div>
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
  <!-- carousel end -->

  <div class="container margin_60_35">
    <div class="bg_white" style="margin-bottom: 20px;">
      <div class="container main-section-container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="main_title_left">
              <em></em>
              Nosotros
            </h3>
            <p class="lead">
              WFI es una empresa líder en prestación de servicios de consultoría, ingeniería e instalación
              en sistemas de telecomunicaciones, redes fijas e inalámbricas, sistemas de seguridad, data
              centers y cableado estructurado, así como, mantenimiento y administración de redes
              inalámbricas y cuenta con certificado de calidad ISO 9001:2015
            </p>
            <ul class="list_ok">
              <li>
                <h4>Misión</h4>
                <p>
                  Proporcionar servicios profesionales de
                  ingeniería y despliegue a las empresas de
                  telecomunicaciones para mejorar la
                  conectividad de la sociedad y generar
                  fuentes de empleo.
                </p>
              </li>
              <li>
                <h4>Visión</h4>
                <p>
                  Ser una empresa que en los próximos 5
                  años es diversificada y referente en el
                  mercado de las Tecnologías de la
                  Información y Comunicaciones, capaz
                  de proporcionar servicios de alto valor
                  que aumentan su rentabilidad.
                </p>
              </li>
              <li>
                <h4>Valores</h4>
                <p>
                  <strong>- Actitud de servicio:</strong>
                  Reconocer las necesidades de los
                  demás y validarlas como propias.
                  <br />
                  <strong>- Honestidad y sinceridad:</strong>
                  Incapacidad de robar, estafar o defraudar a los demás.
                  <br />
                  <strong>- Lealtad:</strong>
                  fidelidad, identidad y nobleza hacia la organización.
                  <br />
                  <strong>- Compromiso y responsabilidad:</strong>
                  De cumplir con lo cometido, siendo consciente y formal
                  en sus palabras y actos.
                  <br />
                  <strong>- Dignidad:</strong>
                  Integridad y nobleza en la forma de comportarse.
                  <br />
                  <strong>- Moral:</strong>
                  Dirigirse de acuerdo a las buenas costumbres.
                  <br />
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
            <img
              src="assets/img/main/radio-masts.jpg"
              alt=""
              class="img-responsive"
              style="max-width: 100% !important;"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
