<main>
  <div id="main-carousel" class="carousel slide" data-bs-ride="true" style="background: rgba(0, 0, 0, 0.6); padding-top: 90px;">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2"></button>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active ad1">+
      </div>
      <div class="carousel-item ad2">
      </div>
      <div class="carousel-item ad3">
      </div>
    </div>
    <div class="intro_title_header shadow_blue">
      <h3>WFI de México</h3>
      <p>{{ 'MAIN.OBJECTIVE' | translate }}</p>
      <div class="morphing shadow_blue">
        <div class="word">{{ 'MAIN.EXPERIENCE.1' | translate }}</div>
        <div class="word">{{ 'MAIN.EXPERIENCE.2' | translate }}</div>
        <div class="word">{{ 'MAIN.EXPERIENCE.3' | translate }}</div>
        <div class="word">{{ 'MAIN.EXPERIENCE.4' | translate }}</div>
        <div class="word">{{ 'MAIN.EXPERIENCE.5' | translate }}</div>
        <div class="word">{{ 'MAIN.EXPERIENCE.6' | translate }}</div>
        <div class="word">{{ 'MAIN.EXPERIENCE.7' | translate }}</div>
      </div>
    </div>
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
    </button>
  </div>
</main>