<app-slide></app-slide>
<!-- <div class="container service">
    <div id="ServiceTitle" class="title_image">
        <h1 class="title">{{ 'HEADER.SERVICES.TITLE' | translate }}</h1>
    </div>
    <app-design></app-design>
    <app-planning></app-planning>
    <app-deployment></app-deployment>
    <app-operation></app-operation>
</div> -->
<div style="background-color: white; padding-top: 30px;padding-bottom: 30px;">
    <div class="container" >
        <div class="row">
            <div class="col-md-6 col-sm-12 " >
                <div class="row align-items-center" style="height: 100%;">
                    <div class="col">
                        <h3 class="main_title_left">
                            <em></em>
                            {{ 'HEADER.ABOUT.TITLE' | translate }}
                        </h3>
                        <p class="card-text p-custom" style="text-align: justify">{{ 'MAIN.ABOUT_US' | translate }}</p>
                        <div class="text-end" style="padding-right: 5px;">
                            <a routerLink="/about" fragment="#SuccessStories" style="color: #1D3F5E;padding-right: 5px;">Leer mas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-center" >
                    <img src="assets/img/main/wfiLogoAboutUs.png" width="400px" height="400px">
                </div> 
            </div>
        </div>
    </div>
</div>
<div style="background-color: #7A93AC; padding-top: 30px;padding-bottom: 30px;">
    <div class="container" >
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="text-center">
                    <img src="assets/img/main/awards.png" width="400px" height="400px">
                </div> 
            </div>
            <div class="col-md-6 col-sm-12 " >
                <div class="row align-items-center" style="height: 100%;">
                    <div class="col">
                        <h3 class="main_title_left" style="color: white;">
                            <em></em>
                            {{ 'HEADER.ABOUT.CONTENT.3' | translate }}
                        </h3>
                        <p class="card-text p-custom" style="color: white;text-align: justify">{{ 'ABOUT.AWARDS_TEXT' | translate }}</p>
                        <div class="text-end" style="color: white;padding-right: 5px;">
                            <a routerLink="/about" fragment="#SuccessStories" style="color: white;padding-right: 5px;">Leer mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<div style="padding-top: 50px;padding-bottom: 30px;">
    <div class="container" >
        <div id="SuccessStories" class="title_image">
            <h1 class="title">{{ 'HEADER.ABOUT.CONTENT.4' | translate }}</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6" style="overflow: hidden;">
                <a routerLink="/about" fragment="SuccessStories"><img class="img-Success-Story" src="assets/img/stories/img_2.jpg"></a>
            </div>
            <div class="col-md-3 col-sm-6" style="overflow: hidden;">
                <a routerLink="/about" fragment="SuccessStories"><img class="img-Success-Story" src="assets/img/stories/img_3.jpg"></a>
            </div>
            <div class="col-md-3 col-sm-6" style="overflow: hidden;">
                <a routerLink="/about" fragment="SuccessStories"><img class="img-Success-Story" src="assets/img/stories/img_1.jpg"></a>
            </div>
            <div class="col-md-3 col-sm-6" style="overflow: hidden;">
                <a routerLink="/about" fragment="SuccessStories"><img style="min-height: 335px;" class="img-Success-Story" src="assets/img/stories/infra-1.jpg"></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6" style="overflow: hidden;">
                <a routerLink="/about" fragment="SuccessStories"><img class="img-Success-Story" src="assets/img/stories/infra-2.jpg"></a>
            </div>
            <div class="col-md-3 col-sm-6" style="overflow: hidden;">
                <a routerLink="/about" fragment="SuccessStories"><img class="img-Success-Story" src="assets/img/stories/infra-3.jpg"></a>
            </div>
            <div class="col-md-3 col-sm-6" style="overflow: hidden;">
                <a routerLink="/about" fragment="SuccessStories"><img class="img-Success-Story" src="assets/img/stories/infra-4.jpg"></a>
            </div>
            <div class="col-md-3 col-sm-6" style="overflow: hidden;">
                <a routerLink="/about" fragment="SuccessStories"><img class="img-Success-Story" src="assets/img/stories/infra-5.jpg"></a>
            </div>
        </div>
    </div>
</div>
<div class="split"></div>

<a href="https://wa.me/525518000465" target="_blank">
    <div class="div_mensaje">
        {{ 'MAIN.WHATSAPP_TEXT' | translate }}
    </div>
    <div class="div_whats">
        <img class="whatsap" src="assets/img/whatsapp.png">
    </div>
</a>