<main>
  <div class="container margin_60_35">
    <div class="bg_white" style="margin-bottom: 20px;">
      <div class="container about-container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="main_title_left">
              <em></em>
              Nosotros
            </h3>
            <p class="lead justify-text">
              WFI es una empresa líder en prestación de servicios de consultoría, ingeniería e instalación
              en sistemas de telecomunicaciones, redes fijas e inalámbricas, sistemas de seguridad, data
              centers y cableado estructurado, así como, mantenimiento y administración de redes
              inalámbricas y cuenta con certificado de calidad ISO 9001:2015
            </p>
            <ul class="list_ok">
              <li>
                <h4>Misión</h4>
                <p class="justify-text">
                  Proporcionar servicios profesionales de
                  ingeniería y despliegue a las empresas de
                  telecomunicaciones para mejorar la
                  conectividad de la sociedad y generar
                  fuentes de empleo.
                </p>
              </li>
              <li>
                <h4>Visión</h4>
                <p class="justify-text">
                  Ser una empresa que en los próximos 5
                  años es diversificada y referente en el
                  mercado de las Tecnologías de la
                  Información y Comunicaciones, capaz
                  de proporcionar servicios de alto valor
                  que aumentan su rentabilidad.
                </p>
              </li>
              <li>
                <h4>Valores</h4>
                <p>
                  <strong>- Actitud de servicio:</strong>
                  Reconocer las necesidades de los
                  demás y validarlas como propias.
                  <br />
                  <strong>- Honestidad y sinceridad:</strong>
                  Incapacidad de robar, estafar o defraudar a los demás.
                  <br />
                  <strong>- Lealtad:</strong>
                  fidelidad, identidad y nobleza hacia la organización.
                  <br />
                  <strong>- Compromiso y responsabilidad:</strong>
                  De cumplir con lo cometido, siendo consciente y formal
                  en sus palabras y actos.
                  <br />
                  <strong>- Dignidad:</strong>
                  Integridad y nobleza en la forma de comportarse.
                  <br />
                  <strong>- Moral:</strong>
                  Dirigirse de acuerdo a las buenas costumbres.
                  <br />
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
            <img
              src="assets/img/main/radio-masts.jpg"
              alt=""
              class="img-responsive"
              style="max-width: 100% !important;"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
