
.carousel-inner .carousel-item {
    width: 100%;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.info-carousel{
    margin-bottom: 60px;
}
.card-body {
    margin: 20px 45px;
    font-size: 1.25rem;
    font-weight: 300;
}

.carousel-control-next, .carousel-control-prev  {
    width: 3%;
    background: #0F1A47;
}

h5 {
    color: #0F1A47;
}

ul.list_ok li:before {
    content: none;
}

img {
    height: 450px;
    width: 100%;
}
.car1img1 {
    background: url(../../../../assets/img/telecom/car1img1.jpg) no-repeat center center; 
}
.car1img2 {
    background: url(../../../../assets/img/telecom/car1img2.jpg) no-repeat center center; 
}
.car1img3 {
    background: url(../../../../assets/img/telecom/car1img3.jpg) no-repeat center center; 
}
.car1img4 {
    background: url(../../../../assets/img/telecom/car1img4.jpg) no-repeat center center; 
}
.car1img5 {
    background: url(../../../../assets/img/telecom/car1img5.jpg) no-repeat center center; 
}
.car1img6 {
    background: url(../../../../assets/img/telecom/car1img6.jpg) no-repeat center center; 
}
.car1img7 {
    background: url(../../../../assets/img/telecom/car1img7.jpg) no-repeat center center; 
}
.car1img8 {
    background: url(../../../../assets/img/telecom/car1img8.jpg) no-repeat center center; 
}
.car1img9 {
    background: url(../../../../assets/img/telecom/car1img9.jpg) no-repeat center center; 
}
.car2img1 {
    background: url(../../../../assets/img/telecom/car2img1.jpg) no-repeat center center; 
}
.car2img2 {
    background: url(../../../../assets/img/telecom/car2img2.jpg) no-repeat center center; 
}
.car2img3 {
    background: url(../../../../assets/img/telecom/car2img3.jpg) no-repeat center center; 
}
.car2img4 {
    background: url(../../../../assets/img/telecom/car2img4.jpg) no-repeat center center; 
}
.car2img5 {
    background: url(../../../../assets/img/telecom/car2img5.jpg) no-repeat center center; 
}
.car2img6 {
    background: url(../../../../assets/img/telecom/car2img6.jpg) no-repeat center center; 
}
.car2img7 {
    background: url(../../../../assets/img/telecom/car2img7.jpg) no-repeat center center; 
}