<div class="bg_white" style="margin-bottom: 20px;">
    <div class="container custom-container">
        <h3 class="main_title_left" style="text-align: center;font-size: 35px;">
            Telecom
            <hr>
        </h3>
        <div class="row mb-carousel">
            <div class="col-md-6 order-md-1 order-2">
                <div id="carouselTelecom1" class="carousel slide" data-bs-ride="carousel" style="background: rgba(0, 0, 0, 0.6);">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselTelecom1" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#carouselTelecom1" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselTelecom1" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselTelecom1" data-bs-slide-to="3"></button>
                        <button type="button" data-bs-target="#carouselTelecom1" data-bs-slide-to="4"></button>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active car1img1"></div>
                        <div class="carousel-item car1img2"></div>
                        <div class="carousel-item car1img3"></div>
                        <div class="carousel-item car1img4"></div>
                        <div class="carousel-item car1img5"></div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselTelecom1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTelecom1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <h3 class="main_title_left">
                    <em></em>
                    {{ 'TELECOM.EMPRESS.TITLE' | translate }}
                </h3>
                <p class="lead justify-text">
                    - {{ 'TELECOM.EMPRESS.1' | translate }} <br />
                    - {{ 'TELECOM.EMPRESS.2' | translate }} <br />
                    - {{ 'TELECOM.EMPRESS.3' | translate }} <br />
                    - {{ 'TELECOM.EMPRESS.4' | translate }} <br />
                    - {{ 'TELECOM.EMPRESS.5' | translate }} <br />
                </p>
            </div>
        </div>
        <div class="row mb-carousel">
            <div class="col-md-6 order-md-2 order-2">
                <div id="carouselTelecom2" class="carousel slide" data-bs-ride="carousel" style="background: rgba(0, 0, 0, 0.6);">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselTelecom2" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#carouselTelecom2" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselTelecom2" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselTelecom2" data-bs-slide-to="3"></button>
                        <button type="button" data-bs-target="#carouselTelecom2" data-bs-slide-to="4"></button>
                        <button type="button" data-bs-target="#carouselTelecom2" data-bs-slide-to="5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active car2img1"></div>
                        <div class="carousel-item car2img2"></div>
                        <div class="carousel-item car2img3"></div>
                        <div class="carousel-item car2img4"></div>
                        <div class="carousel-item car2img5"></div>
                        <div class="carousel-item car2img6"></div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselTelecom2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTelecom2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-1">
                <h3 class="main_title_left">
                    <em></em>
                    {{ 'TELECOM.OPERATOR.TITLE' | translate }}
                </h3>
                <p class="lead justify-text">
                    - {{ 'TELECOM.OPERATOR.1' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.2' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.3' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.4' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.5' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.6' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.7' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.8' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.9' | translate }} <br />
                    - {{ 'TELECOM.OPERATOR.10' | translate }} <br />
                </p>
                
            </div>
        </div>
    </div>
</div>