<div class="bg_white">
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="main_title_left">
          <em></em>
        </h3>
        <p class="lead justify-text">
          {{ 'MAIN.ABOUT_US' | translate }}
        </p>
        <ul class="list_ok">
          <li>
            <h4>{{ 'MAIN.MISSION_TITLE' | translate }}</h4>
            <p class="justify-text">{{ 'MAIN.MISSION' | translate }}</p>
          </li>
          <li>
            <h4>{{ 'MAIN.VISION_TITLE' | translate }}</h4>
            <p class="justify-text">{{ 'MAIN.VISION' | translate }}</p>
          </li>
          <li>
            <h4>{{ 'MAIN.VALUES_TITLE' | translate }}</h4>
            <p>
              <strong>- {{ 'MAIN.FIRST_VALUE' | translate }}:</strong> {{ 'MAIN.FIRST_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.SECOND_VALUE' | translate }}:</strong> {{ 'MAIN.SECOND_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.THIRD_VALUE' | translate }}:</strong> {{ 'MAIN.THIRD_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.FOURTH_VALUE' | translate }}:</strong> {{ 'MAIN.FOURTH_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.FIFTH_VALUE' | translate }}:</strong> {{ 'MAIN.FIFTH_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.SIXTH_VALUE' | translate }}:</strong> {{ 'MAIN.SIXTH_VALUE_TEXT' | translate }}
              <br />
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
        <img src="assets/img/main/radio-masts.jpg" alt="" class="img-responsive" style="max-width: 100% !important;" />
      </div>
    </div>
  </div>
</div>