<div class="bg_white">
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="main_title_left">
          <em></em>
        </h3>
        <p class="lead justify-text">
          {{ 'MAIN.ABOUT_US' | translate }}
        </p>
        <ul class="list_ok">
          <li>
            <h4>{{ 'MAIN.MISSION_TITLE' | translate }}</h4>
            <p class="justify-text">{{ 'MAIN.MISSION' | translate }}</p>
          </li>
          <li>
            <h4>{{ 'MAIN.VISION_TITLE' | translate }}</h4>
            <p class="justify-text">{{ 'MAIN.VISION' | translate }}</p>
          </li>
          <li>
            <h4>{{ 'MAIN.VALUES_TITLE' | translate }}</h4>
            <p>
              <strong>- {{ 'MAIN.FIRST_VALUE' | translate }}:</strong> {{ 'MAIN.FIRST_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.SECOND_VALUE' | translate }}:</strong> {{ 'MAIN.SECOND_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.THIRD_VALUE' | translate }}:</strong> {{ 'MAIN.THIRD_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.FOURTH_VALUE' | translate }}:</strong> {{ 'MAIN.FOURTH_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.FIFTH_VALUE' | translate }}:</strong> {{ 'MAIN.FIFTH_VALUE_TEXT' | translate }}
              <br />
              <strong>- {{ 'MAIN.SIXTH_VALUE' | translate }}:</strong> {{ 'MAIN.SIXTH_VALUE_TEXT' | translate }}
              <br />
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
        <div id="carousel-about" class="carousel slide" data-bs-ride="carousel" style="background: rgba(0, 0, 0, 0.6);">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-about" data-bs-slide-to="0" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#carousel-about" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carousel-about" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#carousel-about" data-bs-slide-to="3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active car-img1"></div>
            <div class="carousel-item car-img2"></div>
            <div class="carousel-item car-img3"></div>
            <div class="carousel-item car-img4"></div>
          </div>
          <button class="carousel-control-prev " type="button" data-bs-target="#carousel-about" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-about" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>