<div class="bg_white" style="margin-bottom: 20px;">
    <div class="container custom-container">
        <h3 class="main_title_left" style="text-align: center;font-size: 35px;">
            {{ 'HEADER.EXPERIENCE.CONTENT.4' | translate }}
            <hr>
        </h3>
        <div class="row mb-carousel">
            <div class="col-md-6 order-md-2 order-2">
                <div id="carousel-cw" class="carousel slide" data-bs-ride="carousel"
                    style="background: rgba(0, 0, 0, 0.6);">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-cw" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#carousel-cw" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carousel-cw" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carousel-cw" data-bs-slide-to="3"></button>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active car1-img1"></div>
                        <div class="carousel-item car1-img2"></div>
                        <div class="carousel-item car1-img3"></div>
                        <div class="carousel-item car1-img4"></div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carousel-cw"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-cw"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-1">
                <h3 class="main_title_left">
                    <em></em>
                </h3>
                <p class="lead justify-text">
                    {{ 'CIVIL_WORK.TEXT' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>