.card-body {
    margin: 20px 45px;
    font-size: 1.25rem;
    font-weight: 300;
}

.carousel-control-next, .carousel-control-prev  {
    width: 3%;
    background: #0F1A47;
}

h5 {
    color: #0F1A47;
}

.max-width-50 {
    width: 50%;
}

ul.list_ok li:before {
    content: none;
}

img {
    height: 450px;
    width: 100%;
}