.card-body {
    margin: 20px 45px;
    font-size: 1.25rem;
    font-weight: 300;
}

.carousel-control-next, .carousel-control-prev  {
    width: 3%;
    background: #0F1A47;
}

h5 {
    color: #0F1A47;
}

ul.list_ok li:before {
    content: none;
}

img {
    height: 450px;
    width: 100%;
}
.carousel-inner .carousel-item {
    width: 100%;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info-carousel {
    margin-bottom: 60px;
}

.justify-text {
    padding-left: 50px;
    font-size: 18px;
}

/* IMG planta externa */
.car1img1 {
    background: url(../../../../assets/img/experience/fo/pe-1.jpg) no-repeat center center; 
}
.car1img2 {
    background: url(../../../../assets/img/experience/fo/pe-2.jpg) no-repeat center center; 
}
.car1img3 {
    background: url(../../../../assets/img/experience/fo/pe-3.jpg) no-repeat center center; 
}
.car1img4 {
    background: url(../../../../assets/img/experience/fo/pe-4.jpg) no-repeat center center; 
}
/* IMG fibra optica */
.car2img1 {
    background: url(../../../../assets/img/experience/fo/fo-1.jpg) no-repeat center center; 
}
.car2img2 {
    background: url(../../../../assets/img/experience/fo/fo-2.jpg) no-repeat center center; 
}
.car2img3 {
    background: url(../../../../assets/img/experience/fo/fo-3.jpg) no-repeat center center; 
}
.car2img4 {
    background: url(../../../../assets/img/experience/fo/fo-4.jpg) no-repeat center center; 
}
/* IMG iluminacion */
.car3img1 {
    background: url(../../../../assets/img/experience/fo/il-1.jpg) no-repeat center center; 
}
.car3img2 {
    background: url(../../../../assets/img/experience/fo/il-2.jpg) no-repeat center center; 
}
.car3img3 {
    background: url(../../../../assets/img/experience/fo/il-3.jpg) no-repeat center center; 
}
.car3img4 {
    background: url(../../../../assets/img/experience/fo/il-4.jpg) no-repeat center center; 
}
.car3img5 {
    background: url(../../../../assets/img/experience/fo/il-5.jpg) no-repeat center center; 
}
/* IMG ftth */
.car4img1 {
    background: url(../../../../assets/img/experience/fo/ftth-1.jpg) no-repeat center center; 
}
.car4img2 {
    background: url(../../../../assets/img/experience/fo/ftth-2.jpg) no-repeat center center; 
}
.car4img3 {
    background: url(../../../../assets/img/experience/fo/ftth-3.jpg) no-repeat center center; 
}