<div class="bg_white" style="margin-bottom: 20px;">
    <div class="container custom-container">
        <h3 class="main_title_left" style="text-align: center;font-size: 35px;">
            {{ 'HEADER.EXPERIENCE.CONTENT.2' | translate }}
            <hr>
        </h3>
        <div class="row info-carousel">
            <div class="col-md-6 order-md-1 order-2">
                <div id="carouselFiber1" class="carousel slide" data-bs-ride="carousel" style="background: rgba(0, 0, 0, 0.6);">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselFiber1" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#carouselFiber1" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselFiber1" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselFiber1" data-bs-slide-to="3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active car1img1"></div>
                        <div class="carousel-item car1img2"></div>
                        <div class="carousel-item car1img3"></div>
                        <div class="carousel-item car1img4"></div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselFiber1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFiber1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <h3 class="main_title_left">
                    <em></em>
                    {{ 'O_FIBER.EXTERNAL_PLANT.TITLE' | translate }}
                </h3>
                <p class="lead justify-text">
                    - {{ 'O_FIBER.EXTERNAL_PLANT.1' | translate }} <br />
                    - {{ 'O_FIBER.EXTERNAL_PLANT.2' | translate }} <br />
                    - {{ 'O_FIBER.EXTERNAL_PLANT.3' | translate }}
                </p>
            </div>
        </div>
        <div class="row info-carousel">
            <div class="col-md-6 order-md-2 order-2">
                <div id="carouselFiber2" class="carousel slide" data-bs-ride="carousel" style="background: rgba(0, 0, 0, 0.6);">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselFiber2" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#carouselFiber2" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselFiber2" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselFiber2" data-bs-slide-to="3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active car2img1"></div>
                        <div class="carousel-item car2img2"></div>
                        <div class="carousel-item car2img3"></div>
                        <div class="carousel-item car2img4"></div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselFiber2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFiber2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-1">
                <h3 class="main_title_left">
                    <em></em>
                    {{ 'O_FIBER.O_FIBER.TITLE' | translate }}
                </h3>
                <p class="lead justify-text">
                    - {{ 'O_FIBER.O_FIBER.1' | translate }} <br />
                    - {{ 'O_FIBER.O_FIBER.2' | translate }} <br />
                    - {{ 'O_FIBER.O_FIBER.3' | translate }} <br />
                    - {{ 'O_FIBER.O_FIBER.4' | translate }} <br />
                    - {{ 'O_FIBER.O_FIBER.5' | translate }} <br />
                    - {{ 'O_FIBER.O_FIBER.6' | translate }} <br />
                </p>
            </div>
        </div>
        <div class="row info-carousel">
            <div class="col-md-6 order-md-1 order-2">
                <div id="carouselFiber3" class="carousel slide" data-bs-ride="carousel" style="background: rgba(0, 0, 0, 0.6);">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselFiber3" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#carouselFiber3" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselFiber3" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselFiber3" data-bs-slide-to="3"></button>
                        <button type="button" data-bs-target="#carouselFiber3" data-bs-slide-to="4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active car3img1"></div>
                        <div class="carousel-item car3img2"></div>
                        <div class="carousel-item car3img3"></div>
                        <div class="carousel-item car3img4"></div>
                        <div class="carousel-item car3img5"></div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselFiber3" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFiber3" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <h3 class="main_title_left">
                    <em></em>
                    {{ 'O_FIBER.LIGHTNING.TITLE' | translate }}
                </h3>
                <p class="lead justify-text">
                    - {{ 'O_FIBER.LIGHTNING.1' | translate }} <br />
                    - {{ 'O_FIBER.LIGHTNING.2' | translate }} <br />
                    - {{ 'O_FIBER.LIGHTNING.3' | translate }} <br />
                    - {{ 'O_FIBER.LIGHTNING.4' | translate }} <br />
                    - {{ 'O_FIBER.LIGHTNING.5' | translate }} <br />
                </p>
            </div>
        </div>
        <div class="row info-carousel">
            <div class="col-md-6 order-md-2 order-2">
                <div id="carouselFiber4" class="carousel slide" data-bs-ride="carousel" style="background: rgba(0, 0, 0, 0.6);">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselFiber4" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#carouselFiber4" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselFiber4" data-bs-slide-to="2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active car4img1"></div>
                        <div class="carousel-item car4img2"></div>
                        <div class="carousel-item car4img3"></div>
                    </div>
                    <!-- Controls -->
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselFiber4" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.PREVIOUS' | translate }}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFiber4" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{{ 'BUTTONS.NEXT' | translate }}</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6  order-md-1 order-1">
                <h3 class="main_title_left">
                    <em></em>
                    {{ 'O_FIBER.FTTH.TITLE' | translate }}
                </h3>
                <p class="lead justify-text">
                    {{ 'O_FIBER.FTTH.TEXT' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>