<div class="bg_white fix_redir" id="ServiceDeployment">
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="main_title_left">
          <em></em>
          {{ 'HEADER.SERVICES.CONTENT.3' | translate }}
        </h3>
        <p class="lead justify-text">
          {{ 'SERVICES.DEPLOYMENT.1' | translate }}
        </p>
        <ul class="list_ok">
          <li>
            <h4>{{ 'SERVICES.DEPLOYMENT.2' | translate }}</h4>
            <p>
              - {{ 'SERVICES.DEPLOYMENT.3' | translate }}
              <br />
              - {{ 'SERVICES.DEPLOYMENT.4' | translate }}
              <br />
              - {{ 'SERVICES.DEPLOYMENT.5' | translate }}
              <br />
              - {{ 'SERVICES.DEPLOYMENT.6' | translate }}
              <br />
            </p>
          </li>
        </ul>
        <!-- <h3 class="main_title_left">
          {{ 'HEADER.SERVICE3.TITLE2' | translate }}
        </h3>
        <p class="lead justify-text">
          1.-{{ 'HEADER.SERVICE3.TEXT2.1' | translate }}<br>
          2.-{{ 'HEADER.SERVICE3.TEXT2.2' | translate }}<br>
          3.-{{ 'HEADER.SERVICE3.TEXT2.3' | translate }}<br>
          4.-{{ 'HEADER.SERVICE3.TEXT2.4' | translate }}<br>
        </p> -->
      </div>
      <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
        <img
          src="assets/img/DeploymentImage1.jpg"
          alt=""
          class="img-responsive"
          style="max-width: 100% !important;"
        />
      </div>
    </div>
  </div>
</div>