.carousel-inner .carousel-item {
    width: 100%;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control-next, .carousel-control-prev  {
    width: 3%;
    background: #0F1A47;
}

/* IMG carrusel 1 */
.car3img1 {
    background: url(../../../../assets/img/services/deploy_1.jpg) no-repeat center center; 
}
.car3img2 {
    background: url(../../../../assets/img/services/deploy_2.jpg) no-repeat center center; 
}
@media only screen and (max-width: 767px) {
    .p-custom {
        padding-left: 15px;
        font-size: 14px;
    }
    .carousel-inner .carousel-item {
        width: 100%;
        height: 200px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}