<div class="container" style="margin-top: 90px">
    <div class="bg_white">
        <div class="container custom-container">
            <div class="row">
                <h3 class="main_title_left">
                    <em></em>
                    {{ 'FOOTER.PRIVACY' | translate | uppercase}}
                </h3>
            </div>
            <div class="row justify-text">
                <div class="col-md-12 p-inline">
                    <p>{{ 'PRIVACY.P1' | translate }}</p>
                    <p>{{ 'PRIVACY.P2' | translate }}</p>
                    <p>{{ 'PRIVACY.P3' | translate }}</p>
                    <p>{{ 'PRIVACY.P4' | translate }}
                        <a href="mailto:avisodeprivacidad@wfinet.com.mx">{{ 'PRIVACY.LINK' | translate }}</a>
                        {{ 'PRIVACY.P5' | translate }}
                    </p>
                    <p>{{ 'PRIVACY.P6' | translate }}</p>
                    <p>{{ 'PRIVACY.P7' | translate }}</p>
                    <p>{{ 'PRIVACY.P8' | translate }}</p>
                    <p>{{ 'PRIVACY.P9' | translate }}</p>
                    <p>{{ 'PRIVACY.P10' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>