.title {
    text-align: center;
    font-size: 42px;
    text-shadow: 3px 3px 2px rgb(255, 255, 255);
    font-weight: lighter;
}
.split {
    background-color: #F8F8F8;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title_image {
    padding: 30px;
    background-image: url("../../../assets/img/TitleImage2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 140px;
}
