<div class="split"></div>

<div class="container">
    <div id="opticalFiber"class="title_image">
        <h1 class="title">{{ 'HEADER.EXPERIENCE.TITLE' | translate }}</h1>
    </div>
    <app-optical-fiber></app-optical-fiber>
</div>
<div class="container">
    <div id="infraestructure"></div>
    <app-infrastructure></app-infrastructure>
</div>
<div class="container">
    <div id="civil-work"></div>
    <app-civil-work></app-civil-work>
</div>
<div class="container">
    <div id="telecom"></div>
    <app-telecom></app-telecom>
</div>